.RouterView {
  position: absolute; 
  height: 100%;
  transition: all 0.28s;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; 
  background: #fff;
  /*  解决了ios下头脚拉动错误 */
  overflow: hidden; 
  transform: translateZ(0px);
}

.slide-left-enter {
  opacity: 0;
  -webkit-transform: translate(100%, 0);
  transform: translate(100%, 0);
}
.slide-right-leave-active {
  opacity: 0.5;
  -webkit-transform: translate(100%, 0);
  transform: translate(100%, 0);
}
.slide-right-enter {
  opacity: 0;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.slide-left-leave-active {
  opacity: 0;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}